.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

/* link component renders a regular anchor elm not a LINK or a NAVLINK elm */
.list a:hover,
/* if a link has the active class */
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}